robot_side/Func_topic/catkin_ws/build/*
robot_side/Func_topic/catkin_ws/devel/*
backend/backend_image/images/*
backend/backend_video/__pycache__/*
robot_side/func_video/__pycache__/*
mqtt_certs/*
https_certs/*
backend/backend_commands/cert.pem
robot_side/func_commands/cert.pem
robot_side/func_commands/key.pem