robot_side/Func_topic/catkin_ws/build/*
robot_side/Func_topic/catkin_ws/devel/*
backend/backend_image/images/*
backend/backend_video/__pycache__/*
robot_side/func_video/__pycache__/*
mqtt_certs/*
https_certs/*
backend/backend_commands/cert.pem
backend/backend_image/cert.pem
backend/backend_image/key.pem
backend/backend_video/cert.pem
backend/backend_video/key.pem
backend/integration/cert.pem
backend/integration/key.pem
robot_side/func_commands/cert.pem
robot_side/func_commands/key.pem
robot_side/func_image/cert.pem
robot_side/func_video/cert.pem
robot_side/func_video/key.pem
robot_side/integration/cert.pem
robot_side/integration/key.pem
robot_side/integration/catkin_ws/build/*
robot_side/integration/catkin_ws/devel/*
robot_side/test/catkin_ws/build/*
robot_side/test/catkin_ws/devel/*
.vscode/*
robot_side/integration/__pycache__/*
backend/integration/__pycache__/*
.DS_Store
robot_side/.DS_Store
robot_side/integration/.DS_Store
robot_side/test/localization/build/*
robot_side/test/localization/devel/*
robot_side/test/mock_test/robot_services/__pycache__/*
robot_interfaces/temp_process/catkin_ws/build/*
robot_interfaces/temp_process/catkin_ws/devel/*
robot_interfaces/temp_process/.vscode/*
robot_interfaces/temp_process/catkin_ws/src/robot_v2/src/__pycache__/*